:root{
    font-family: 'Josefin Slab', serif;
    background-color: #fefefe;
}

/* Navegação */

header{
    display: flex;
    /* background-color: rgb(212, 212, 212); */
    width: 100%;
    height: 15vh;
}
.header-container{
    display: flex;
    width: 92%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
    height: 112px;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar button{
    border-radius: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px 12px;    
    transition: all 0.3s ease;
}

.top-bar button:hover{
    transform: scale(1.05);
    box-shadow: 0px 15px 20px rgba(165, 62, 79, 0.4);
}

.menu-container{
    display: none;
    position: absolute;
    background-color: rgb(39, 40, 77);
    width: 100%;
    top: 15vh;
    left: 0;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

.menu{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 3em;
}

.menu li{
    display: flex;
    margin-top: 3em;
    text-align: center;
    min-width: 100%;
}

.menu li a{
    min-width: 100%;
    padding: 15px 0;
    background-color: #fefefe;
    text-decoration: none;
    color: rgb(39, 40, 77);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-radius: 10px;
    text-transform: uppercase;
}

.menu li a:hover{
    background-color: rgb(165, 62, 79);
    color: white;
    box-shadow: 0px 15px 20px rgba(165, 62, 79, 0.4);
    transform: translateY(-7px);
}

    /* Main CSS */

/* Banner */

main{
    min-height: 70vh;
    height: 100%;
}
.banner-container{
    display: flex;
    flex-direction: column;
}

.banner{
    background-color: rgba(37, 39, 101, 0.125);
    background: url("assets/banner-principal.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: flex-end;
}

.btn-banner{
    margin-bottom: 45px;
    margin-left: 45px;
}
.btn-banner a{
    padding: 15px 40px;
    background: #dd0a0a;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.btn-banner a:hover{
    background-color: red;
    color: white;
    box-shadow: 0px 10px 20px rgba(165, 62, 79, 0.4);
}

.banner-info{
    height: 120px;
    text-align: center;
    background-color: rgba(37, 39, 101, 0.125);
}

.banner-info h1{
    padding: 1em;
    font-weight: bold;
    font-size: large;
}

h1 strong{
    color: rgb(165, 62, 79);
}

p strong{
    color: rgb(37, 39, 101);
    font-weight: bold;
}

/* Eventos */

.eventos-container{
    display: flex;
    width: 80%;
    margin: 4em auto;
    flex-direction: column;
    align-items: center;

}
.malabarismo-icon{
    width: 45px;
    height: 45px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.eventos-container h2{
    font-size: 30px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    color: rgb(165, 62, 79);
    margin-bottom: 1em;
}

.cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.card-evento{
    width: 100%;
    height: auto;
    margin: 1em 0;
    background-color: rgb(236, 236, 236);
    padding-bottom: 30px;
    border-radius: 15px;
}

.card-imagem{
    max-width: 1080px;
    width: 100%;
    height: auto;
}

.card-imagem img{
    max-width: 1080px;
    width: 100%;
    max-height: 30vh;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.divisor{
    width: 100%;
    height: 8px;
    background: url("assets/divisor.jpg");
    background-size: cover;
    margin-bottom: 5px;
}

.card-info{
    text-align: center;
}

.card-info h3{
    font-size: 23px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-info p{
    margin-bottom: 15px;
    font-size: 15px;
}

.card-info a{
    text-decoration: none;
    color: rgb(165, 62, 79);
}

/* Formulário */

.formulario{
    
}

form {
    margin: 40px 40px;
}

form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao,
textarea {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
    border-style: solid;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    transition: 0.3s all;
}

.enviar:hover {
    background: darkred;
    cursor: pointer;
    transform: scale(1.05);
}

footer{
    display: flex;
    bottom: 0;
    height: 30vh;
    background: url("assets/footer-image.jpg");
    background-size: cover;
    justify-content: space-between;
    flex-direction: column;
}

footer p, h4{
    color: white;
}

footer p{
    font-size: 12px;
}

footer h4{
    margin-bottom: 1em;
}

.container-footer-sobre-contato{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.footer-sobre, .footer-contato{
    text-align: center;
    width: 30%;
}

.footer-contato{
    margin-left: 40px;
}

.footer-sobre{
    margin-right: 40px;
}

@media (min-width: 700px) {

    .banner{
        height: 70vh;
    }

    .cards{
        flex-direction: row;
        justify-content: space-between;
    }

    .card-evento{
        width: 30%;
    }
}