header{
    width: 100%;
    height: 40vh;
    background: url("../../assets/header-banner.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 2em;
}

header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    height: 100%;
}


.logo img{
    width: 30vw;
    min-width: 200px;
    margin-left: 10vw;
}

.menu{
    margin-right: 10vw;
    transition: all 0.5s;
}

.menu a{
    text-decoration: none;
    font-size: 25px;
    color: darkkhaki;
    font-family: 'Aboreto', cursive;
}

.menu:hover{
    transform: scale(1.02);
}