.statsContainer{
    width: 100%;
    height: 130px;
    background: linear-gradient(90deg, rgba(224,211,81,0.8) 0%, rgba(160,247,101,0.8) 50%, rgba(89,220,248,0.8) 100%);
    padding: 1em;
}

.stats{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}