*{
    list-style: none;
    text-decoration: none;
}

footer{
    background: url('../../public/assets/footer-banner.png');
    background-position: center;
    height: 30vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.555);
    font-size: 1em;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    height: 50%;
    width: 100%;
}

.footer-container ul{
    text-align: center;
    width: 20%;
    position:relative;
}

.footer-title{
    text-transform: uppercase;
    padding: 3px;
    position: relative;
}

strong{
    color: goldenrod;
}

hr{
    width: 20px;
    height: 2px;
    background: rgb(10,103,1);
    background: linear-gradient(90deg, rgba(10,103,1,1) 0%, rgba(255,255,255,1) 50%, rgba(255,0,0,1) 100%);
    margin: 0 auto 1em auto;
    border: none;
}